<div>
  <img src="/assets/hero-section.jpg" class="w-full" />
  <div class="sm:px-0 px-4 container m-auto">
    <div class="py-10">
      <h1 class="text-xl font-bold text-center mb-8">Best Selling Products</h1>
      <div class="flex gap-10 md:flex-row flex-col items-start">
        <div class="w-full">
          <img src="/assets/text-media.jpeg" class="w-full" />
        </div>
        <div
          class="w-full grid lg:grid-cols-3 md:grid-cols-2 xs:grid-cols-2 grid-cols-1 gap-3"
        >
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
          <div class="flex flex-col gap-1 items-center shadow pb-2">
            <img
              src="/assets/card-img.jpeg"
              class="w-full h-40 object-contain"
            />
            <p class="text-sm font-semibold">Silky Saree</p>
            <div class="flex gap-2 items-center">
              <p
                class="text-slate-300 text-sm"
                style="text-decoration: line-through"
              >
                $199
              </p>
              <p class="text-sm font-semibold">$99</p>
              <p class="text-red-500">80% OFF</p>
            </div>
            <button
              class="border border-red-500 text-red-500 rounded-md py-1 px-2 text-xs"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
